<section class="section-split fade-in-section" id="praktik">
  <div class="section-split__inner">
    <div class="section-divider"></div>
    <div class="section-content">
      <div class="section-split__header fade-in-left">
        <h2>Hvorfor praktik hos jer?</h2>
      </div>
      <div class="section-split__content">
        <p>Jeg leder efter en praktikplads fra d. 19. januar til d. 26. marts 2026, hvor jeg kan blive endnu skarpere som frontend-developer og lære en masse fra folk med erfaring. <br />Jeg glæder mig til at få en fornemmelse af hverdagen i branchen og til at bidrage med min kreativitet og det som jeg allerede har lært.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .section-split__inner {
    width: 100%;
    box-sizing: border-box;
  }

  .section-divider {
    position: absolute;
    height: 2px;
    background: var(--color-dark);
    content: "";
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    display: block;
  }

  .section-content {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-block: 2rem;
    gap: 1rem;
  }

  .section-split__header {
    flex: 1 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-split__header h2 {
    font-size: 4rem;
    font-family: "polymath-display", sans-serif;
    font-weight: 1000;
    margin: 0;
    line-height: 1.1;
  }

  .section-split__content {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .section-split__content p {
    font-weight: 100;
    margin: 0;
    line-height: 1.4;
  }
</style>
